ERPNEXT_VERSION={{ erpnext_version }}
DB_PASSWORD={{ vault_erpnext_db_password }}
GUNICORN_THREADS=4
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=120
FRAPPE_SITE_NAME_HEADER={{ erpnext_site_name }}
UPSTREAM_REAL_IP_ADDRESS=172.16.0.0/12
UPSTREAM_REAL_IP_HEADER=X-Forwarded-For
UPSTREAM_REAL_IP_RECURSIVE=on
PROXY_READ_TIMEOUT=180s
CLIENT_MAX_BODY_SIZE=50m
